<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" method="post">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home/Notification-board">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Home/Topper">Result</a>
        </li>
      </ul>
      <div class="dropdown" style="float:right;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img src="https://i1.sndcdn.com/avatars-000288473023-nw5wu6-t500x500.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> </a>
         <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/home/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/home/teachers">Teachers</a></li>
              <li><a class="dropdown-item" href="/home/Courses">Courses</a></li>
              <li><a class="dropdown-item" href="/home/Assignments">Assignmments</a></li>
              <li><a class="dropdown-item" href="/home/logout">logout</a></li>
            </ul>
            </div>
         
            
    </div>
  </div>
</nav> 